/* ----- 
common utilities 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* --------------------
 effets and animation
---------------- */
.banner-title a:hover{
    background-color: darkblue;
    font-size: 20px;
    width: 180px;
    height: 50px;
    transition: width, height;
}

/* ----------------
 header styles 
 ------------ */
header{
    height: 677px;
    background-color: #2D25A0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 42px;
}
.options{
    margin-left: 156px;
}
.options a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    height: 24px;
    width: 48px;
    margin-right: 36px;
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    ;
}
.log-in img{
    height: 24px;
    width: 24px;
}
.log-in a{
    color: #ffffff;
    margin-left: 8px;
    text-decoration: none;
}
.banner{
    display: flex;
    margin-left: 156px;
    margin-top: 67px;
    margin-right: 141px;
}
.banner-title h1{
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 27px;
    width: 485px;
}
.banner-title a{
    text-decoration: none;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    color: #ffffff;
    background-color: #E02C6D;
}
.banner-image img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
}
/* -------------- 
players styles 
----------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 210px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    border-radius: 4px;
}
.player-description h3{
    font-size: 28px;
    font-weight: 900;
    color: #18191F;
    margin-bottom: 5px;
    margin-top: 16px;
    font-weight: 700;
}
.player-description p{
    margin-top: 5px;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 18px;
}

/* ----------------
 news and highlights styles 
----------------- */
.exclusive{
    margin-top: 165px;
}
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    width: 469px;
    height: 309px;
    margin-right: 66px;
}
.news h3{
    font-size: 48px;
    margin-bottom: 4px;
}
.news p{
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 24px;
}
.news a{
    text-decoration: none;
    width: 173px;
    height: 44px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #E02C6D;;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.highlights img{
    width: 567px;
    height: 427px;
}

 /* --------------
  footer styles
 --------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}
.social img{
    height: 32px;
    width: 32px;
}
.copyright{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 63px;
}

/* -------------------
 mobile device styles
--------------------- */

@media only screen and (max-width: 688px){
    header{
        width: fit-content;
        margin: -8px auto auto -8px;
    }
    .options{
        display:none;
    }
    .banner{
       display: flex;
       flex-direction: column;
       margin: 20px auto auto 20px;
   }
   .banner-title{
        margin-left: 16px;
   }
   .banner-title h1{
        font-size: 36px;
        width: fit-content;
   }
   .banner-image img{
        width: 329px;
        height: 259px;
        margin: 50px 16px 61px 6px;
   }
   .players{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       row-gap: 24px;
       margin: 47px 15px 0px 15px;
   }
   .player{
        width: 300px;
        height: 500px;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .player p{
       margin-bottom: 33px;
   }
   .highlights{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-left: 15px;
       margin-top: -90px;
   }
   .news{
        width: 329px;
        height: 299px;
   }
   .news h3{
       font-size: 30px;
   }
   .news p{
       font-size: 16px;
   }
   .highlights img{
        width: 328px;
        height: 248px;
   }
   footer{
       display: flex;
       flex-direction: column;
       margin-left: 42px;
   }
   .logo img{
    width: 271px;
    height: 63px;
   }
}