/* ----- 
common utilities 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* -------------- 
players styles 
----------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    border-radius: 2px;
}
.player-description h3{
    font-size: 28px;
    font-weight: 900;
    color: #18191F;
    margin-bottom: 5px;
    margin-top: 16px;
    font-weight: 700;
}
.player-description p{
    margin-top: 5px;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 18px;
}

/* ----------------
 news and highlights styles 
----------------- */
.exclusive{
    margin-top: 165px;
}
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    width: 469px;
    height: 309px;
    margin-right: 66px;
}
.news h3{
    font-size: 48px;
    margin-bottom: 4px;
}
.news p{
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 24px;
}
.news a{
    text-decoration: none;
    width: 173px;
    height: 44px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #E02C6D;;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.highlights img{
    width: 567px;
    height: 427px;
}

 /* --------------
  footer styles
 --------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}
.social img{
    height: 32px;
    width: 32px;
}
.copyright{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 63px;
}